<!DOCTYPE html>
<head>
  <title>
    Todo Mongo Example
  </title>
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet" />
  <!---link href="https://use.fontawesome.com/release/v5.8.2/css/all.css" rel="stylesheet"/> -->
</head>
<div class="todo-container">
<h2>
  To-Do Items
</h2>
  <div class = "todo">
     <form action="/" method="POST" class="todo-header">
        <input type="text" name="content" />
        <button type="submit">
          Submit
          <!-- <i  class="fas fa-plus"/>--->
          <!--Stopped at 12:34 time on video Node_2-->
        </button>
     </form>
  </div>
</div>